@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	input,
	select,
	textarea {
		@apply outline-none px-3 py-2 focus:border-blue-600;
	}
	select {
		@apply bg-transparent rounded-xl border border-slate-500 text-slate-400 pr-10 appearance-none;
	}
}

select {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m6 8 4 4 4-4'/%3E%3C/svg%3E");
	background-position: right 0.5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}
